@import "../../app/globals.scss";

.header_banner {
    position: relative;

    .cover_photo {
        width: 100vw;
        height: 160px;

        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
        }
    }

    .bio_wrap {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        gap: 1rem;
        margin-left: 2rem;

        .profile_pic {
            width: 180px;
            height: 180px;

            .profile {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                background-position: center;
                border: 3px solid $white;
            }
        }

        .bio_texts {
            margin-top: 3rem;

            .title {
                font-size: $font-twentyEight;
                font-weight: 700;
                color: $black;
            }

            .subtitle {
                font-size: $font-fourteen;
                color: $lightGray;
                margin-top: 0.5rem;
            }

            .bio {
                font-size: $font-fourteen;
                color: $black;
                margin-top: 1rem;
            }

            .social_icons {
                margin-top: 1rem;
                display: flex;
                gap: 0.5rem;

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: $lightGray;
                    cursor: pointer;
                    border-radius: 5px;
                    display: grid;
                    place-items: center;
                    color: $white;
                }
            }
        }

        .share_button {
            margin-top: 3rem;

            .share {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8rem;
                height: 2.35rem;
                background-color: $primary;
                border-radius: 5px;
                color: $white;
                font-size: $font-sixteen;
                font-weight: 600;
                cursor: pointer;
                transition: 0.5s ease-in-out;

                &:hover {
                    transform: scale(0.99, 1);
                }
            }
        }
    }
}
