@import "../../app/globals.scss";

.header_banner {
    position: relative;

    .cover_photo {
        width: 100vw;
        height: 160px;

        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
        }
    }

    .bio_wrap {
        display: grid;
        grid-template-columns: 200px 1fr 150px;
        gap: 1rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            margin: 1rem;
            
        }

        .profile_pic {
            width: 180px;
            height: 180px;
            margin-left: 2rem;

            @media screen and (max-width: 768px) {
                margin-left: 0;
                height: 120px;
            }

            .profile {
                height: 180px;
                border-radius: 50%;
                object-fit: cover;
                background-position: center;
                border: 3px solid $white;
                position: absolute;
                top: 7rem;
            }
        }

        .bio_texts {
            margin-top: 3rem;

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }

            .title {
                font-size: $font-twentyEight;
                font-weight: 700;
                color: $black;
            }

            .subtitle {
                font-size: $font-fourteen;
                color: $lightGray;
                margin-top: 0.5rem;
            }

            .bio {
                font-size: $font-fourteen;
                color: $black;
                margin-top: 1rem;

                @media screen and (max-width: 768px) {
                    margin-top: 0.75rem;
                }

                .see_more{
                    background-color: transparent;
                    border: none;

                    span{
                        color: $gray;
                        font-size: $font-fourteen;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 2px;
                    }
                }
            }

            .social_icons {
                margin-top: 1rem;
                display: flex;
                gap: 0.5rem;

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: $lightGray;
                    cursor: pointer;
                    border-radius: 5px;
                    display: grid;
                    place-items: center;
                    color: $white;
                }
            }
        }

        .share_button {
            margin-top: 3rem;

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }

            .share {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8rem;
                height: 2.35rem;
                background-color: $primary;
                border-radius: 5px;
                color: $white;
                font-size: $font-sixteen;
                font-weight: 600;
                cursor: pointer;
                transition: 0.5s ease-in-out;

                &:hover {
                    transform: scale(0.99, 1);
                }

                @media screen and (max-width: 508px) {
                    width: 100%;
                }
            }
        }
    }
}
