@import '../globals.scss';


.main_container {
    width: 100%;
    
    .body_container {
        border-top: 1px solid $neutral;
        padding: 1rem;
        margin-top: 2rem;

        .body_nav{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
     }

}