@import "../../app/globals.scss";

.categories_container {

    .categories_list {
        display: flex;
        // flex-wrap: wrap;
        gap: 0.5rem;

        .category {
            width: fit-content;
            height: 100%;
            background-color: $secondary;
            border-radius: 0.5rem;
            padding: .25rem .5rem;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            .category_name {
                font-size: $font-fourteen;
                font-weight: 500;
                color: $gray;
            }
        }
    }
}
