@import "../../app/globals.scss";

.placeholder_section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 100%;

    .placeholder_list{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        .placeholder{
            width: 235px;
            height: 235px;
            border-radius: 10px;
            background-color: $secondary;
            border-radius: 8px;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0.5rem;
            
        }
    }
}